html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --accent: #174180;
  --accent-light: #3764a7;
  --pure-white: #fff;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  color: var(--accent);
  background-image: url("../img/denise-bossarte-8rEJiVQk1Vw-unsplash.jpg");
  /* background-repeat: no-repeat; */
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0px 15px;
  text-align: center;
}
.section {
  padding: 60px 0;
}
.section-title {
  text-transform: uppercase;
  text-align: center;
}
.header {
  background-color: var(--accent);
}

.header a {
  color: var(--pure-white);
  text-decoration: none;
}

.header-wrapper {
  min-height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
  padding: 11px 0;
}

.header-logo {
  font-size: 30px;
  line-height: 30px;
  font-weight: 800;
  letter-spacing: 1px;
}

.header-logo img {
  width: 100%;
  height: 60px;
  object-fit: contain;
}

.header-menu {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.header-menu-link {
  font-size: 16px;
  line-height: 20px;
  padding: 15px 10px;
  text-transform: uppercase;
  transition: background-color 0.2s;
}

.header-menu-link:hover {
  background-color: var(--accent-light);
}

.menu-toggle {
  display: none;
}

.intro {
  padding: 60px 0;
}

.intro-inner {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}
/* .intro-left {
  width: 30%;
} */

.intro-img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
}
.intro-right {
  width: 60%;
}

.intro-right h1,
.intro-right h3 {
  margin: 0 0 10px;
}
.contacts {
  margin-bottom: 60px;
}
.icon {
  display: inline-block;
  padding-left: 60px;
  padding-right: 60px;
  position: relative;
  text-align: center;
}
.contacts1::before {
  position: absolute;
  left: 0;
  content: "";
  width: 40px;
  height: 40px;
  background-image: url("../img/iconmonstr-email-1.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.contacts ul {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  gap: 35px;
  margin: 0;
  padding: 0;
  list-style: none;
  gap: 35px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.contacts__item {
  display: flex;
  flex-direction: column;
}
.icons {
  align-self: center;
  width: 30px;
}
.contacts-link {
  padding: 0;
  margin: 10px 0 0 0;
}
/* 
.icons ::before {
  background-image: url("../img/locicon.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
} */
.education {
  margin-bottom: 60px;
  text-align: center;
}

.education1::before {
  position: absolute;
  left: 0;
  content: "";
  width: 40px;
  height: 40px;
  background-image: url("../img/educationicon.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.education ul {
  gap: 35px;
  margin: 10px;
  /* padding: 30px; */
  /* text-align: center; */
}
.education li {
  padding: 10px 0;
  text-align: left;
}

.skills {
  color: var(--pure-white);
  background-color: var(--accent);
}
.skills1::before {
  position: absolute;
  left: 0;
  content: "";
  width: 40px;
  height: 40px;
  background-image: url("../img/skillsicon.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.skills ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
  margin: 0;
  padding: 30px;
  list-style: none;
}

.skills li {
  padding: 10px 40px;
  background-color: var(--accent-light);
  border-radius: 20px;
}

.code-example pre {
  width: 85%;
  margin: 0 auto;
  text-align: left;
  font-size: 14px;
  font-style: italic;
  background-color: var(--accent);
  color: var(--pure-white);
  border-radius: 20px;
}

.languages {
  margin-bottom: 20px;
}
.languages1::before {
  position: absolute;
  left: 0;
  content: "";
  width: 40px;
  height: 40px;
  background-image: url("../img/langicon.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.languages ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  gap: 30px;
  margin: 0;
  padding: 30px;
  list-style: none;
}

.languages li {
  padding: 5px;
  margin: 10px;
}

.code-example {
  margin-bottom: 60px;
  padding: 30px;
}

.code1::before {
  position: absolute;
  left: 0;
  content: "";
  width: 40px;
  height: 40px;
  background-image: url("../img/codeicon.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
/* .wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}
.wrapper div img {
  width: 100%;
} */
/* 
.item-1 {
  background-color: black;
}

.item-2 {
  background-color: aqua;
}
.item-3 {
  background-color: fuchsia;
} */
/* 
.portfolio {
  text-align: center;
  margin-bottom: 30px;
}

.btn {
  display: inline-block;
  margin: 30px auto;
  font-family: "Raleway", sans-serif;
  font-size: 13px;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;

  padding: 14px 40px;
  border-radius: 2px;
  border: 0;
  cursor: pointer;
  transition: background 0.1s linear;
}

.btn--red {
  background-color: #3d3a94;
}

.btn--red:hover {
  background-color: #e41b1b;
} */

.portfolio {
  background-color: var(--accent);
  margin-bottom: 60px;
}
.portfolio1::before {
  position: absolute;
  left: 0;
  content: "";
  width: 40px;
  height: 40px;
  background-image: url("../img/langicon.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.portfolio-title {
  margin-bottom: 2em;
  color: var(--pure-white);
}

.portfolio ul {
  margin: 0;
  padding: 30px;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.portfolio li {
  border-radius: 10px;
  background-color: var(--pure-white);
  text-align: center;
  padding-bottom: 15px;
  overflow: hidden;
}
.portfolio img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.portfolio ul a {
  display: inline-block;
  padding: 10px 30px;
  color: var(--pure-white);
  text-decoration: none;
  background-color: var(--accent);
  border-radius: 4px;
  transition: all 0.3s;
}

.portfolio ul a:hover {
  background-color: var(--accent-light);
}

.footer {
  color: var(--pure-white);
  background-color: var(--accent);
}

.footer_inner {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer_inner a {
  padding: 10px 25px;
  color: var(--pure-white);
  text-decoration: none;
  gap: 10px;
}

@media (max-width: 945px) {
  .menu-toggle {
    display: block;
  }

  .header-nav {
    display: none;
  }

  .portfolio ul {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 771px) {
  .code-example {
    padding: 0;
  }

  .code-example pre {
    margin: 0 auto;
    width: 100%;
  }
}

@media (max-width: 551px) {
  .code-example {
    margin-bottom: 0;
  }

  .code-example pre {
    margin: 0 auto;
    width: 100%;
    font-size: 10px;
  }
}

@media (max-width: 500px) {
  .languages ul {
    margin: 0;
    padding: 0;
  }

  .languages h4 {
    margin: 0;
  }

  .languages p {
    margin-bottom: 0;
  }

  .portfolio ul {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 411px) {
  .code-example pre {
    font-size: 7px;
  }
}

/* @media (max-width: 768px) {
  .header-nav {
    width: 70%;
    margin-left: auto;
  }
  .intro-inner {
    display: flex;
    gap: 15px;
  }
} */
